
*{
  margin: 0;
  padding: 0;
} 
.nav {
background-color: white;
  z-index: 7;
  box-shadow: 0px 3px 65px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: flex-start;
}
.nav_top {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
}
.logo img{
  padding: 10px;
}
.logo {
  float: left;
  width: 134px;
  padding: 0px;
}
.nav_side {
  float: right;
  margin: 30px;
 
}
.nav_side a {
  text-decoration: none;
  margin: 0 10px 0 10px ;
  color: black;
  font-size: 15px;
  font-weight: bold;
  font-family: cosmic, Geneva, Tahoma, sans-serif;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.nav_side a:hover {
  color: pink;
  text-decoration: underline;
  transition: all 0.3s ease-in;
}

.login{
  width: 45%;
}

.login ul{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  /* width: 100%; */
  height: 84px;
  font-size: 15px;
  font-weight: bold;
   list-style-type: none;
}
.login ul li{
  border-radius: 50px;
  cursor: pointer;
  padding: 7px;
  margin: 16px;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  border: 1px solid black;
  background: #ffe4da;
  box-shadow: 1px 3px 65px 0px rgba(0, 0, 0, 0.15)
}
.login ul li:hover{
  background-color: black;
  color:#ffe4da ;
  /* border-bottom: 4px solid #ffe4da; */
  transition: .5s;
  border: 1px solid #ffe4da;

}

.signup-form,
.login-form{
  border-radius: 10px;
 
  z-index: 6;
position: absolute;
top: 45%;
left: 50%;
transform: translate(-50%,-50%);
/* background-color: #ffe4da; */
/* background-color: black; */
background-color: #fff;
background-repeat: no-repeat;
background-size: cover;
box-shadow: 3px 3px 10px  1px rgba(0, 0, 0, 0.15);
transition: 0.5s;
visibility: hidden;
opacity: 0;
}

.sup-form{
border-radius: 10px;
z-index: 6;
position: absolute;
top: 45%;
left: 50%;
transform: translate(-50%,-50%);
background-color: #fff;
background-repeat: no-repeat;
background-size: cover;
box-shadow: 3px 3px 10px  1px rgba(0, 0, 0, 0.15);
transition: 0.5s;
}

.logbut ,
.sigbut{
   background-color: black;
   color: white;
}
.logbut:hover , 
.sigbut:hover{
  background: #ffe4da;
  color: black;
}
.form{
  width: 480px;
  padding: 20px 50px;
}
.form .close{
  /* color: white; */
  text-align: right;
  cursor: pointer;
}
.form .text h1{
  color: white;
  color: 
  black;
  font-size: 40px;
  text-align: center;
  margin: 15px 0;
}

.form form{
  display: block;
  margin: auto;
}
.form .row{
  display: flex;
  justify-content: space-between;
}
.row input{
  width: 45%;
  display: block;
  border: 1px solid black;
  border-radius: 50px;
  margin: 20px auto;
  outline: none;
  padding: 15px;
}
.form form .row2 input{
  width: 100%;
  display: block;
  border: 1px solid black;
  border-radius: 50px;
  margin: 20px auto;
  outline: none;
  padding: 15px;
}
.signup-form.active,
.login-form.active{
  top: 65%;
  transition: 0.5s;
  visibility: visible;
  opacity: 1;

}
.main#blur.active{
  filter: blur(20px);
  transition: 0.5;
  pointer-events: none;
}

.burger{
  display: none;
 position: absolute;
 cursor: pointer;
 right: 15%;
 top: 15px;
}
.line{
  width: 33px;
  background-color: black;
  margin: 5px;
  height: 4px;
}
.logo-resp{
  /* display: none; */
  float: left;
  width: 40%;
  padding: 0px;
}

.main{
  background: pink url('images/main_img.png') no-repeat fixed center;
  background-size: cover;
  height: 80vh;
  margin-top: 83px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.content{
  margin-left: 20%;
  margin-right: 20%;
  font-size: 35px;
  text-align: center;
  padding-top: 10%;
  color: #ffe4da;
}
.content h2{
  font-size: 35px;
}
.content span{
  font-size: 15px;
  opacity: 0.8;
  font-weight: 400;
  line-height: 2px;
  color: white;
}
.btn{
  margin-top: 25px;
  /* margin-left: 40%; */
  width: 100%;
}
.btn :hover{
  background-color: #ffe4da;
  color: black;
  /* border-bottom: 4px solid #ffe4da; */
  transition: .5s;
}
.btn a{ 
  text-decoration: none;
  /* border: 3px solid white; */
  border-bottom: 4px solid white;
  color:#ffe4da ;
  font-family: cosmic, Geneva, Tahoma, sans-serif;
  border-radius: 50px;
  font-size: 25px;
  padding: 10px;
  text-align: center;
  background-color: black;
  transition: .5s;
}

.btn-group a{
 
  text-decoration: none;
border-bottom: 4px solid black;
color: black;
font-family: cosmic, Geneva, Tahoma, sans-serif;
border-radius: 50px;
padding: 8px;
font-size: 15px;
text-align: center;
background-color: #ffe4da;
transition: .5s;
}
.btn-group a:hover{
  background-color: black;
  color:#ffe4da;
}

.product{
  padding-bottom: 50px;
}
.product h2 {
  color: black;
  font-size: 35px;
  text-align: center;
  padding: 20px;
}
.product .product_container{
  display: flex;
  margin: 0 5% 0 5%;
}
.product .product_container .item{
  width: 33.33%;
  /* padding: 25px; */
  margin: 10px;
  height: auto;
  border-radius: 10px;
}
.product .product_container .item:hover{
  box-shadow: 0px 3px 65px 0px #fdb79e;
  
}


.product .product_container .itemimg{
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.product .product_container .itemimg img{
  width: 100%;
  height: 300px;
}
.itemcontent{
  text-align: center;
}
.itemcontent h3{
  padding: 10px;
  font-size: 25px;
  font-family: cosmic, Geneva, Tahoma, sans-serif;
}
.item .itemcontent p{
  padding: 10px;
  margin-bottom: 20px;
  font-size: 15px;
  font-family: cosmic, Geneva, Tahoma, sans-serif;
}
.item .itemcontent a{
  text-decoration: none;
  border-bottom: 4px solid black;
  color: black;
  font-family: cosmic, Geneva, Tahoma, sans-serif;
  border-radius: 50px;
  padding: 8px;
  font-size: 15px;
  text-align: center;
  background-color: #ffe4da;
  transition: .5s;
}
.item .itemcontent a:hover{
   background-color: black;
  color:#ffe4da ;
  /* border-bottom: 4px solid #ffe4da; */
  transition: .5s;
}
.product_btn {
margin-top: 50px;
text-align: center;
}
.product_btn a{
  text-decoration: none;
  /* border: 3px solid white; */
  border-bottom: 4px solid black;
  color: black;
  font-family: cosmic, Geneva, Tahoma, sans-serif;
  border-radius: 50px;
  padding: 8px;
  font-size: 20px;
  text-align: center;
  background-color: #ffe4da;
  transition: .5s;
}
.product_btn a:hover{ 
  background-color: black;
  color:#ffe4da ;
  /* border-bottom: 4px solid #ffe4da; */
  transition: .5s;
}


.keypoints{
  padding: 50px;
}
.keypoints h2{
  color: black;
  font-size: 35px;
  text-align: center;
  padding: 10px;
}
.key_container{
  display: flex;
}
.key_content{
  width: 40%;
  padding: 20px;
  float: left;
  font-size: 13px;
}
.key_content li{
  list-style: none;
  margin: 10px;
  padding: 10px;
  border-left: 2px solid #fdb79e;
  color: black;
  text-align: left;
  font-family: cosmic, Geneva, Tahoma, sans-serif;
  box-shadow: 0px 3px 65px 0px rgba(0, 0, 0, 0.15)
}
.key_img{
  width: 55%;
  float: right;
}
.key_img img{
  width: 100%;
}


.testi{
  padding: 50px;
}
.testi h2{
  color: black;
  font-size: 35px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}
.testi_container{
  margin: 0 10% 0 10%;
  text-align: center;
}
.testi_container .carousel-inner{
   background-color: white;
   box-shadow: none;
}


/* .item
{
  width: 100%;
  padding: 20px;
  background-color: white;
  box-shadow: none;
} */
.item .item_img{
  width: 100%;
  height: 300;
  overflow: hidden;
}
.item .item_img img{
  width: 200px;
  height: 200px;
   border-radius:50% ;
   margin-top: 100px;
}
.item .item_content{
  text-align: center;
}
.item .item_content h3{
  padding: 10px;
  font-size: 25px;
  font-family: cosmic, Geneva, Tahoma, sans-serif;
}
.item .item_content  p{
  padding: 10px;
  margin-bottom: 20px;
  font-size: 15px;
  font-family: cosmic, Geneva, Tahoma, sans-serif;
}



.team
{
  padding: 50px;
}

.team h2{
  color: black;
  font-size: 35px;
  text-align: center;
  padding: 10px;
}
#team_container{
  display: flex;
}
.team_video
{
  width: 60%;
  padding: 1%;
}
.team_video video{
  width: 100%;
  outline: none;
 border: 5px solid #ffe4da;
 /* border: 5px solid pink; */
}

.team_content
{
  width: 30%;
  padding: 1%;
  margin-left: 50px;
}

.team_content p{
  /* padding: 10px; */
  /* margin-bottom: 20px; */
  font-size: 15px;
  font-family: cosmic, Geneva, Tahoma, sans-serif;
}

 /* FEED */

 .feed{
   margin-top: 84px;
   background-image: url('images/feed_bg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   /* padding: 20px; */
 }
 .feed h2{
  color:#ff6734;
  font-size: 35px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
 }

.feed_form{
  text-align: center;
  padding: 20px;
}

.feed_form form input{
margin-bottom: 5px;
width: 30%;
padding: 8px;
outline: none;
border: none;
margin: 10px;
border-radius: 50px;
}

.feed_form form textarea{
  margin-bottom: 5px;
  width: 30%;
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 10px;
  }
  .feed_form form button{
    margin-bottom: 5px;
    width: 20%;
    font-size: 15px;
    padding: 8px;
    outline: none;
    border: none;
    margin: 10px;
    background-color: #000000;
    color: white;
    border-radius: 5px;
    text-decoration: none;
  /* border: 3px solid white; */
  border-bottom: 4px solid black;
  color: black;
  font-family: cosmic, Geneva, Tahoma, sans-serif;
  border-radius: 50px;
  padding: 8px;
  text-align: center;
  background-color: #ff6734;
  transition: .5s;
  }
  .feed_form form button:hover{
    background-color: black;
    color:#ffe4da ;
    /* border-bottom: 4px solid #ffe4da; */
    transition: .5s;
  }


  /* *********ABOUT US*********** */
.about_us{
  padding: 50px;
}
.about_us h2{
  color:#ff6734;
  font-size: 35px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}

.about_us p{
  padding: 5px;
  text-align: center;
  font-size: 15px;
  line-height: 25px;
  font-family: cosmic, Geneva, Tahoma, sans-serif;
}

/* ******CONTACT CONTAINER */
.contact_container{
  padding: 50px;
  padding-top: 0;
  padding-bottom: 0;
}
.contact_container h2{
  color:#ff6734;
  font-size: 35px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}
.contact_container .g_map{
  border: 5px solid #ff6734;
}
.contact_container .contact_content{
  padding: 5px;
  text-align: left;
  font-size: 15px;
  line-height: 25px;
  font-family: cosmic, Geneva, Tahoma, sans-serif;
}

  /* ********FOOTER********** */

footer{
  background-color: rgb(133, 133, 133);
  padding: 30px;
}
footer .pages{
  text-align: center; 
}
footer .pages h3{
  color: black;
  font-size: 20px;
  font-family: cosmic, Geneva, Tahoma, sans-serif;
  padding: 5px;
}
.pages a{
  text-decoration: none;
  margin: 10px;
  color: #fdb79e;
  font-size: 15px;
  font-family: cosmic, Geneva, Tahoma, sans-serif;
}
.pages a:hover {
 color: black;
}


footer .pages{
  text-align: center;
}
footer .doc{
  text-align: center;
}
footer .doc h3{
  color: black;
  font-size: 20px;
  font-family: cosmic, Geneva, Tahoma, sans-serif;
  padding: 5px;
}
.doc a {
  text-decoration: none;
  margin: 10px;
  color: #fdb79e;
  font-size: 15px;
  font-family: cosmic, Geneva, Tahoma, sans-serif;
}
.doc a:hover {
 color: black;
}
footer .social{
  text-align: center;
}
footer .social h3{
  color: black;
  font-size: 20px;
  font-family: cosmic, Geneva, Tahoma, sans-serif;
  padding: 5px;
}
footer .social a{
  /* background: white; */
  font-size: 30px;
  color: #fdb79e;
  margin: 10px;
}
footer .social a:hover{
  color: black;
}
footer .contact{
  text-align: center; 
}
footer .contact h3{
  color: black;
  font-size: 20px;
  font-family: cosmic, Geneva, Tahoma, sans-serif;
  padding: 5px;
}
footer .contact a{
  font-size: 30px;
  color: #fdb79e;
  margin: 10px;
}
footer .contact a:hover{
  color: black;
}

@media only screen and (max-width : 1100px)
{
 .nav{
   display: flex;
   flex-direction: column;
   height: 280px;
  transition:  all 0.3s ease-out;
   
 }
 .logo{
   padding: 0;
   /* margin: 0 20% 0 20%; */
   width: 100%;
   display: flex;
   justify-content: center;
 }

 .nav_side{
   display: flex;
   flex-direction: column;
   width: 100%;
   margin: 0;
   padding: 0;
 }
 .nav_side a{
   margin: 7px 0 7px 0;
   
 }
 .burger{
  display: block;
 }
 .logo-resp{
   /* display: block; */
 }
 .h-nav-resp{
   height: 80px;
 }

 .v-class-resp{
   opacity: 0;
 }
 .main{
   height: 520px;
   /* display: flex;
   flex-direction: column; */
   /* justify-content: space-around; */
   
 }
 .content{
   padding: 5%;
   margin:3px;
 }
 .content h2{
   width: 100%;
   display: flex;
   justify-content: center;
  font-size: 30px;
}
 .content span{
   line-height: 0;
   font-size: 13px;
 }
  .btn{
    margin: 0;
    padding: 0;
  }
  .btn a{
    padding: 8px;
    font-size: 20px;
  }
  .product h2 {
   padding: 40px 20px 0px 20px;
  }
  .product_container{
    display: flex;
    flex-direction: column;
  }
  .product .product_container .item{
    width: 100%;
    margin: 10% 0 10% 0;
  }
  
  .product_btn{
    margin-top: 30px;
  }
  .product_btn a{
   font-size: 16px;
  }
  .keypoints{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .keypoints h2{
    font-size: 33px;
  }

.key_content{
  width: 80%;
}
.key_container{
  display: flex;
flex-direction: column;
align-items: center;
}
.key_img{
  width: 90%;
}
.testi{
  padding: 5px;
  margin-top: 10px;
}
.testi_container{
  margin: 5px;
}
.item .item_img img{
  margin: 5px 0 5px 0;
}
.item .item_content  p{
  margin: 1%;
}
#team_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team{
  padding: 10px;
}
.team_video{
  width: 100%;
}
.team_content{
  width: 90%;
  line-height: 30px;
  margin: 0;
}
.feed{
  margin-top: 5px;
}
.feed_form form input{
  width: 60%;
}
.feed_form form textarea{
  width: 60%;
}
.feed_form form button{
  width: 60%;
}
footer{
  padding: 3px;
}
.footer_logo a img{
  padding-top: 0;
}
.contact_container{
  padding: 5px;
}
.contact_container .contact_content{
  width: 85%;
}
}
